<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RNSE</title>
  <link th:href="@{/css/categoryKeyword.css}" rel="stylesheet" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-pie.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-bar.min.js"></script>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div>
            <a th:href="@{/}" target="_self"><img src="/img/RNSE_LOGO.png" class="logo_image"></a>
        </div>
        <div class="main">
            <div class="category" id="category">
                <div class="category-name"><a th:href="@{/category/keyword(sid=100)}" id="sid_100" target="_self">정치</a></div>
                <div class="category-name"><a th:href="@{/category/keyword(sid=101)}" id="sid_101" target="_self">경제</a></div>
                <div class="category-name"><a th:href="@{/category/keyword(sid=102)}" id="sid_102" target="_self">스포츠</a></div>
                <div class="category-name"><a th:href="@{/category/keyword(sid=103)}" id="sid_103" target="_self">생활/문화</a></div>
                <div class="category-name"><a th:href="@{/category/keyword(sid=104)}" id="sid_104" target="_self">IT/과학</a></div>
            </div>

            <div class="mt-3 float-right">
                <input type="radio" class="btn-check" name="options-outlined" id="primary-outlined" autocomplete="off" checked>
                <label class="btn btn-outline-primary rounded-pill m-2" for="primary-outlined">Pie</label>
                <input type="radio" class="btn-check" name="options-outlined" id="warning-outlined" autocomplete="off">
                <label class="btn btn-outline-warning rounded-pill m-2" for="warning-outlined">Horizontal bar</label>
                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off">
                <label class="btn btn-outline-success rounded-pill m-2" for="success-outlined">Tag cloud</label>
            </div>
            <input type="hidden" id="jsonData" th:value="${jsonArray}">
            <div class="result">
                <div id="container" class="p-5"></div>
            </div>
            <br><br><br>

        </div>
    </div>
  <script th:src="@{/js/categoryKeyword.js}">

  </script>
</div>
</body>
</html>




