<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>RNSE</title>
</head>
<body>
<div layout:fragment="content">
    <div class="logo">
        <a th:href="@{/}" target="_self"><img src="/img/RNSE_LOGO.png" width="272px" height="85px"></a>
    </div>
    <div class="search mt-3">
        <form action="/search" method="get">
            <input type="text" name="keyword" placeholder=" 검색어를 입력하세요" th:value="${param.keyword}">
            <button type="submit" class="float-right"><img class="searchLogo" src="/img/search.png" width="30px" height="30px"></button>
        </form>
    </div>
    <div class="container-fluid">
        <hr>
    </div>
    <div class="container mt-3">
        <div class="row mt-4">
            <div class="col-3">
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <h6 id="sid_100_btn"><b>정치</b><i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
                        <hr>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <h6 id="sid_101_btn"><b>경제</b><i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
                        <hr>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <h6 id="sid_102_btn"><b>스포츠</b><i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
                        <hr>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <h6 id="sid_103_btn"><b>생활/문화</b><i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
                        <hr>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <h6 id="sid_104_btn"><b>IT/과학</b><i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
                        <hr>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <a th:href="@{/category/keyword(size=50,sid=100)}"><h6 id="sid_105_btn"><b>카테고리 별 키워드 보기</b><i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6></a>
                        <hr>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div id="sid_100" class="sid" style="display: block">
                    <div class="row mt-3" th:each="sid_100 : ${sid_100_list}">
                        <div class="col-8"> <a th:href="@{/detail(id=${sid_100.id})}"> <small th:text="${sid_100.title}">봄나들이 좋은 맑은 날씨…미세먼지도 오후 해소</small></a></div>
                        <div class="col-3">
                            <a th:href="@{/detail(id=${sid_100.id})}"><img th:if="${sid_100.imageURL != ''}"  th:src="@{${sid_100.imageURL}}" style="width: 100%; height: 80px"></a>
                            <a th:href="@{/detail(id=${sid_100.id})}"><img th:if="${sid_100.imageURL == ''}" th:src="@{/img/white.png}" style="width: 100%; height: 80px"></a>
                        </div>
                    </div>
                    <small class="float-right mt-4 mr-5"><a th:href="@{/category(sid=100)}"><b>더보기</b><i class="fas fa-angle-right float-right text-secondary ml-2" style="margin-top:3px"></i></a></small><br>
                </div>
                <div id="sid_101" class="sid" style="display: none">
                    <div class="row mt-3" th:each="sid_101 : ${sid_101_list}">
                        <div class="col-8"> <a th:href="@{/detail(id=${sid_101.id})}"> <small th:text="${sid_101.title}">봄나들이 좋은 맑은 날씨…미세먼지도 오후 해소</small></a></div>
                        <div class="col-3">
                            <a th:href="@{/detail(id=${sid_101.id})}"><img th:if="${sid_101.imageURL != ''}" th:src="@{${sid_101.imageURL}}"  style="width: 100%; height: 80px"></a>
                            <a th:href="@{/detail(id=${sid_101.id})}"><img th:if="${sid_101.imageURL == ''}" th:src="@{/img/white.png}" style="width: 100%; height: 80px"></a>
                        </div>
                    </div>
                    <small class="float-right mt-4 mr-5"><a th:href="@{/category(sid=101)}"><b>더보기</b><i class="fas fa-angle-right float-right text-secondary ml-2" style="margin-top:3px"></i></a></small><br>
                </div>
                <div id="sid_102" class="sid" style="display: none">
                    <div class="row mt-3" th:each="sid_102 : ${sid_102_list}">
                        <div class="col-8"> <a th:href="@{/detail(id=${sid_102.id})}"> <small th:text="${sid_102.title}">봄나들이 좋은 맑은 날씨…미세먼지도 오후 해소</small></a></div>
                        <div class="col-3">
                            <a th:href="@{/detail(id=${sid_102.id})}"><img th:if="${sid_102.imageURL != ''}"  th:src="@{${sid_102.imageURL}}" style="width: 100%; height: 80px"></a>
                            <a th:href="@{/detail(id=${sid_102.id})}"><img th:if="${sid_102.imageURL == ''}" th:src="@{/img/white.png}" style="width: 100%; height: 80px"></a>
                        </div>
                    </div>
                    <small class="float-right mt-4 mr-5"><a th:href="@{/category(sid=102)}"><b>더보기</b><i class="fas fa-angle-right float-right text-secondary ml-2" style="margin-top:3px"></i></a></small><br>
                </div>
                <div id="sid_103" class="sid" style="display: none">
                    <div class="row mt-3" th:each="sid_103 : ${sid_103_list}">
                        <div class="col-8"> <a th:href="@{/detail(id=${sid_103.id})}"> <small th:text="${sid_103.title}">봄나들이 좋은 맑은 날씨…미세먼지도 오후 해소</small></a></div>
                        <div class="col-3">
                            <a th:href="@{/detail(id=${sid_103.id})}"><img th:if="${sid_103.imageURL != ''}"  th:src="@{${sid_103.imageURL}}" style="width: 100%; height: 80px"></a>
                            <a th:href="@{/detail(id=${sid_103.id})}"><img th:if="${sid_103.imageURL == ''}" th:src="@{/img/white.png}" style="width: 100%; height: 80px"></a>
                        </div>
                    </div>
                    <small class="float-right mt-4 mr-5"><a th:href="@{/category(sid=103)}"><b>더보기</b><i class="fas fa-angle-right float-right text-secondary ml-2" style="margin-top:3px"></i></a></small><br>
                </div>
                <div id="sid_104" class="sid" style="display: none">
                    <div class="row mt-3" th:each="sid_104 : ${sid_104_list}">
                        <div class="col-8"> <a th:href="@{/detail(id=${sid_104.id})}"> <small th:text="${sid_104.title}">봄나들이 좋은 맑은 날씨…미세먼지도 오후 해소</small></a></div>
                        <div class="col-3">
                            <a th:href="@{/detail(id=${sid_104.id})}"><img th:if="${sid_104.imageURL != ''}"  th:src="@{${sid_104.imageURL}}" style="width: 100%; height: 80px"></a>
                            <a th:href="@{/detail(id=${sid_104.id})}"><img th:if="${sid_104.imageURL == ''}" th:src="@{/img/white.png}" style="width: 100%; height: 80px"></a>
                        </div>
                    </div>
                    <small class="float-right mt-4 mr-5"><a th:href="@{/category(sid=104)}"><b>더보기</b><i class="fas fa-angle-right float-right text-secondary ml-2" style="margin-top:3px"></i></a></small><br>
                </div>
            </div>
            <div class="col-3 realtime-search">
                <div class="row mt-3">
                    <div class="col-1">1</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">2</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">3</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">4</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">5</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">6</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">7</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">8</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">9</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <div class="row mt-3">
                    <div class="col-1">10</div>
                    <div class="col-10"> <small>실시간 검색어</small></div>
                </div>
                <a id="show-top" class="text-center"><i class="fas fa-chevron-up"></i></a>
                <a id="show-all" class="text-center"> <i class="fas fa-chevron-down"></i></a>
            </div>

        </div>

    </div>
    <script type="text/javascript" th:src="@{/js/main.js}">
    </script>
</div>
</body>
</html>

