<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <p><a th:href="@{/}">Main으로 이동</a> </p>
    <p><a th:href="@{/api}">NaverApiSearch로 이동</a> </p>
    <p><a th:href="@{/craw}">CrawlingSearch로 이동</a></p>
    <p><a th:href="@{/mining}">Mining으로 이동</a></p>
    <p><a th:href="@{/craw2}">크롤링 반복 테스트로 이동</a></p>
    <h3>메인 페이지</h3>
</div>
</body>
</html>
