<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<div layout:fragment="content">
  <p><a th:href="@{/}">Main으로 이동</a> </p>
  <p><a th:href="@{/api}">NaverApiSearch로 이동</a> </p>
  <p><a th:href="@{/craw}">CrawlingSearch로 이동</a></p>
  <p><a th:href="@{/mining}">Mining으로 이동</a></p>

  <h3>네이버 API 테스트</h3>


  <p th:text="'total : ' + ${total}"></p>
  <p th:text="'lastBuildDate : ' + ${lastBuildDate}"></p>
  <p th:text="'display : ' + ${display}"></p>
  <p th:text="'start : ' + ${start}"></p>

  <table border="1">
    <tr th:each="item : ${items}">
      <td th:text="${itemStat.index + 1}"></td>
      <td th:text="${item.originallink}"></td>
      <td th:text="${item.link}"></td>
      <td th:text="${item.description}"></td>
      <td th:text="${item.title}"></td>
      <td th:text="${item.pubDate}"></td>
    </tr>
  </table>


</div>


</body>
</html>
