<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
  <style>
    .container {
      min-width: 1140px;
    }
    input{
      position: relative;
      margin: 0px 0px 20px 20px;
      left: 15px;
      top: 7px;
      font-size: 15px;
      width: 85%;
      height: 30px;
      border: none;
      outline: none;
    }
    .search{
      position: relative;
      border: 1px solid #CCCCCC;
      border-radius: 50px;
      width: 300px;
      height: 45px;
      margin-top: 20px;
      margin: 25px auto;
      left: 530px;

    }

    .category {
      padding: 30px;
    }
    button {
      background-color: transparent;
      border: none;
      position:relative;
      right: 10px;
      top:5px;
    }


    .logo_image {
      width: 100px;
      position: relative;
      top: 25px;
    }


    .article-image {
      text-align: center;
    }

    a:link{color:black; font-weight: bolder; text-decoration-line: none;}


  </style>
</th:block>
<div layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mt-5 row">
          <div class="col-3">
            <a th:href="@{/}"> <img src="/img/RNSE_LOGO.png" class="logo_image"></a>
          </div>
          <div>
            <div class="search mt-3">
              <form action="/search" method="get">
                <input type="text" name="keyword" placeholder=" 검색어를 입력하세요" th:value="${param.keyword}">
                <button type="submit" class="float-right"><img class="searchLogo" src="/img/search.png" width="30px" height="30px"></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mt-4">
      <div class="col-8">
        <h2 th:text="${newsDetail.get(0).title}"><b></b></h2>
        <div class="info">
          <span class="date"><small>작성 날짜 : </small><small th:text="${newsDetail.get(0).datetime}" class="datetime"></small></span><br>
          <span class="author mt-1" th:text="${newsDetail.get(0).reporter}"></span>
        </div>
        <div class="article-content">
          <div class="article-image m-5">
            <img th:src="${newsDetail.get(0).imageURL}" onerror="this.style.display='none'" alt="Article Image">
          </div>
          <div class="article-text">
            <p th:text="${newsDetail.get(0).text}" class="newsMain"></p>
          </div>
        </div>
      </div>
      <div class="col-4 category">
        <div class="row mt-2">
          <div class="col-1"></div>
          <div class="col-11">
            <h6><b>생활/문화</b> <i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
            <div class="row mt-3">
              <div class="col-8 mt-1"> <small>봄나들이 좋은 맑은 날씨…미세먼지도 오후 해소</small></div>
              <div class="col-4">
                <img data-scroll="true" alt="" src="https://imgnews.pstatic.net/image/003/2023/04/01/NISI20230331_0019840699_web_20230331145332_20230401174304552.jpg?type=w647" style="width: 100%;">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-8 mt-1"> <small>봄나들이 좋은 맑은 날씨…미세먼지도 오후 해소</small></div>
              <div class="col-4">
                <img data-scroll="true" alt="" src="https://imgnews.pstatic.net/image/003/2023/04/01/NISI20230331_0019840699_web_20230331145332_20230401174304552.jpg?type=w647" style="width: 100%;">
              </div>
            </div>
            <hr>
          </div>

        </div>
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-11">
            <h6><b>경제</b> <i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
            <div class="row mt-3">
              <div class="col-8 mt-1"> <small>HMM 주총, 개미들 '성토의 장'됐다…김경배 사장 "자사주 매입 검토</small></div>
              <div class="col-4">
                <img data-scroll="true" alt="" src="https://imgnews.pstatic.net/image/293/2023/03/31/0000043091_001_20230331145001439.jpg?type=w647" style="width: 100%;">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-8 mt-1"> <small>HMM 주총, 개미들 '성토의 장'됐다…김경배 사장 "자사주 매입 검토</small></div>
              <div class="col-4">
                <img data-scroll="true" alt="" src="https://imgnews.pstatic.net/image/293/2023/03/31/0000043091_001_20230331145001439.jpg?type=w647" style="width: 100%;">
              </div>
            </div>
            <hr>
          </div>

        </div>
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-11">
            <h6><b>IT/과학</b> <i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
            <div class="row mt-3">
              <div class="col-8 mt-1"> <small>KT 이사 단 1명…"새 대표 선임, 최소 5개월</small></div>
              <div class="col-4">
                <img data-scroll="true" alt="" src="https://imgnews.pstatic.net/image/015/2023/03/31/0004827400_001_20230401012903364.jpg?type=w647" style="width: 100%;">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-8 mt-1"> <small>KT 이사 단 1명…"새 대표 선임, 최소 5개월</small></div>
              <div class="col-4">
                <img data-scroll="true" alt="" src="https://imgnews.pstatic.net/image/015/2023/03/31/0004827400_001_20230401012903364.jpg?type=w647" style="width: 100%;">
              </div>
            </div>
            <hr>
          </div>

        </div>
        <div class="row mt-5">
          <div class="col-1"></div>
          <div class="col-11">
            <h6><b>실시간 순위</b> <i class="fas fa-angle-right float-right text-secondary mr-2"></i></h6>
            <div class="row mt-3">
              <div class="col-1">1</div>
              <div class="col-7"> <small>"능숙한 플레이어" 강남 홀덤펍서 포커치던 김새론 포착</small></div>
              <div class="col-3 p-0">
                <img data-scroll="true" alt="" src="https://mimgnews.pstatic.net/image/origin/031/2023/04/05/738856.jpg?type=nf190_130&amp;ut=1680651181000" style="width: 100%;">
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-1">2</div>
              <div class="col-7"> <small>"능숙한 플레이어" 강남 홀덤펍서 포커치던 김새론 포착</small></div>
              <div class="col-3 p-0">
                <img data-scroll="true" alt="" src="https://mimgnews.pstatic.net/image/origin/031/2023/04/05/738856.jpg?type=nf190_130&amp;ut=1680651181000" style="width: 100%;">
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-1">3</div>
              <div class="col-7"> <small>"능숙한 플레이어" 강남 홀덤펍서 포커치던 김새론 포착</small></div>
              <div class="col-3 p-0">
                <img data-scroll="true" alt="" src="https://mimgnews.pstatic.net/image/origin/031/2023/04/05/738856.jpg?type=nf190_130&amp;ut=1680651181000" style="width: 100%;">
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
    let datetime = document.querySelector('.datetime');

    let dateChangeStr;
    dateChangeStr = datetime.innerText.split('T')[0].replaceAll('-','.') + " ";
    if(Number(datetime.innerText.split('T')[1].split('+')[0].split(':')[0]) > 12) {
      dateChangeStr += " 오후  " + (Number(datetime.innerText.split('T')[1].split('+')[0].split(':')[0]) - 12) + '시' + datetime.innerText.split('T')[1].split('+')[0].split(':')[1] + '분'
    } else if(Number(datetime.innerText.split('T')[1].split('+')[0].split(':')[0]) == 12) {
      dateChangeStr += " 오후  " + (Number(datetime.innerText.split('T')[1].split('+')[0].split(':')[0])) + '시' + datetime.innerText.split('T')[1].split('+')[0].split(':')[1] + '분'
    } else {
      dateChangeStr += " 오전  " + (Number(datetime.innerText.split('T')[1].split('+')[0].split(':')[0])) + '시' + datetime.innerText.split('T')[1].split('+')[0].split(':')[1] + '분'
    }

    datetime.innerText = dateChangeStr;

    let news_text = document.querySelector('.newsMain');
    let news_textStr;
    let news_textSize = news_text.innerText.split('.').length;
    news_text.innerText.split('.')
    news_textStr = news_text.innerText.split('.')[0] + "<br><br>"  + news_text.innerText.split('.').slice(1,news_textSize/4) + "<br><br>" + news_text.innerText.split('.').slice(news_textSize/4+1,news_textSize/2) + "<br><br>" + news_text.innerText.split('.').slice(news_textSize/2+1,news_textSize - 1)
    news_text.innerHTML = news_textStr;
  </script>
</div>
</html>
