<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
  <style>
    .container {
      min-width: 1140px;
    }
    .logo_image {
      margin-top: 50px;
      width: 100px;
    }
    .searchInput {
      margin-top: 50px;
    }

    input {
      height: 50px;
      border-radius: 25px;
      width: 100%;
      border: 1px solid #ccc;
      text-indent: 10px;
    }
    .search_image {
      width: 50px;
    }

    .searchResult {
      margin-top: 40px;
      margin-bottom: 50px;
    }

    .paging {
      display: flex;
      justify-content: center;
    }

    button {
      border: none;
      background: none;
    }

  </style>
</th:block>
<div layout:fragment="content">

  <div class="container">
    <img src="/img/RNSE_LOGO.png" class="logo_image">
    <div class="searchInput">
      <form action="/search" method="get">
        <div class="row">
          <div class="col-11">
            <input type="text" name="keyword" placeholder=" 검색어를 입력하세요" th:value="${param.keyword}" aria-describedby="searchText">
          </div>
          <div class="col-1">
            <button type="submit"><img src="/img/search.png" class="search_image" id="searchText"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="searchResult">
      <div class="sort_bar mb-0">
        <ul class="nav justify-content-end mb-0">
          <li class="nav-item"><a class="nav-link" href="#" style="color: black">• <small> 관련도순</small></a> </li>
          <li class="nav-item"><a class="nav-link" href="#" style="color: black">• <small> 최신순</small></a> </li>
          <li class="nav-item"><a class="nav-link" href="#" style="color: black">• <small> 오래된순</small></a> </li>
          <!--          •-->
        </ul>
      </div>
      <hr>
      <p th:text="${none_result}"></p>
      <div class="row mt-5 mb-5" th:each="i : ${news}">
        <div class="col-2">
          <dt><img th:inline="none" th:src="${i.imageurl}" onerror="this.style.display='none'" style="width: 150px;height: 100px"></dt>
        </div>
        <div class="col-10">
          <dt th:utext="${i.title}" class="h5"></dt>
          <dd th:utext="${i.text}" class="summary"></dd>
          <dd><small th:utext="${i.datetime}" class="datetime"></small></dd>
        </div>
      </div>
    </div>
    <div class="paging" th:if="${totalPages > 0}">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" th:class="${currentPage == 1} ? disabled : ''">
            <a class="page-link" aria-label="Previous" th:if="${currentPage > 1}" th:href="@{/search(page=${currentPage - 1}, keyword=${param.keyword})}">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" th:class="${currentPage == i} ? 'page-item active' : ''" th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a class="page-link" th:href="@{/search(page=${i}, keyword=${param.keyword})}" th:text="${i}"></a>
          </li>

          <li class="page-item" th:class="${currentPage == totalPages} ? disabled : ''">

            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{/search(page=${currentPage + 1}, keyword=${param.keyword})}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <script th:inline="javascript">
    let datetime = document.querySelectorAll(".datetime");
    let summary = document.querySelectorAll(".summary");

    for(let i = 0; i<datetime.length; i++) {
      let diff = new Date().getTime() - new Date(Date.parse(datetime[i].innerText)).getTime()


      let minute = 1000 * 60;
      let hour = minute * 60;
      let day = hour * 24;

      if (diff < minute) {
        datetime[i].innerText = "방금 전";
      } else if (diff < hour) {
        datetime[i].innerText = Math.floor(diff / minute) + '분 전';
      } else if (diff < day) {
        datetime[i].innerText = Math.floor(diff / hour) + '시간 전'
      } else {
        datetime[i].innerText = Math.floor(diff / day) + '일 전'
      }

      summary[i].innerText = summary[i].innerText.substring(0, 155) + "..."
    }
  </script>
</div>



</html>

